@media screen and (min-width: 992px) {

    //header
    header {
        &.fixed {
            position: fixed;
            top     : 0;
            left    : 0;
            width   : 100%;
            z-index : 999999;

            .navbar {
                transition        : all 0.2s;
                -webkit-transition: all 0.2s;
                -o-transition     : all 0.2s;
                -moz-transition   : all 0.2s;
            }
        }
    }

    //navbar
    .navbar {
        padding: 0px;

        #navbarNav {
            margin-top: 0em;

            .navbar-nav {
                padding: 1em;

                .nav-item {
                    position          : relative;
                    font-size         : 10px;
                    transition        : all 0.2s;
                    -webkit-transition: all 0.2s;
                    -o-transition     : all 0.2s;
                    -moz-transition   : all 0.2s;
                    text-transform    : uppercase;
                    font-weight       : $font-bold;
                    letter-spacing    : 2px;

                    &.active {
                        background-color: $tertiary;

                        .nav-link {
                            color: #FFF !important;
                        }
                    }

                    &:hover {
                        background-color: $secondary;
                    }

                    .nav-link {
                        color: white !important;
                    }
                }
            }
        }
    }

    main {
        section {

            height  : 100vh;
            overflow: hidden;
        }

        .picture {
            overflow: hidden;

            img {
                height    : 100vh;
                object-fit: cover;
                width     : 100%;
            }
        }
    }
}

@media screen and (max-width:996px) {
    .navbar {
        background-color: $tertiary !important;
        display         : flex;
        justify-content : end;

        button {
            &.navbar-toggler {
                background: $primary;

                &:focus {
                    outline: none !important;
                }

                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(223,41,53, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
                }
            }
        }
    }

    main {

        section {
            &#banner {
                height: 30vh;
            }
        }

        .picture {
            padding : 0px;
            overflow: hidden;

            img {
                width: 100vw;
            }
        }
    }
}