@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');

$font-family: 'Mulish',
sans-serif;

$font-style : normal;
$font-light : 300;
$font-weight: 400;
$font-bold  : 700;
$primary    : #080708;
$secondary  : #3772ff;
$tertiary   : #df2935;
$text       : #e6e8e6;

$theme-colors: ("primary": $primary,
    "secondary": $secondary);