@import'variables';

@import "node_modules/bootstrap/scss/bootstrap";

body {
    font-family            : $font-family;
    font-size              : 18px;
    font-weight            : $font-light;
    line-height            : 32px;
    color                  : $text;
    background             : $primary;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    transition        : all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition     : all 0.3s;
    -moz-transition   : all 0.3s;
    color             : $tertiary;

    &:hover {
        text-decoration: none;
        color          : $secondary;
    }
}

header {
    .navbar {
        .navbar-nav {
            .nav-item {

                text-transform: uppercase;
                font-weight   : $font-bold;
                letter-spacing: 2px;
            }
        }
    }
}

main {
    section {
        .picture {
            img {
                object-fit: cover;
                width     : 100%;
            }
        }

        &#banner {
            position: relative;
            overflow: hidden;
            height  : 100vh;

            .bg-image {
                background-image     : url('../images/banner.jpg');
                background-position  : center top;
                background-repeat    : no-repeat;
                background-attachment: fixed;
                position             : absolute;
                width                : 100%;
                height               : 100%;
                z-index              : 1;
                opacity              : .2;

                &:before {
                    content   : '';
                    display   : block;
                    width     : 100%;
                    height    : 100%;
                    position  : absolute;
                    top       : 0px;
                    left      : 0px;
                    z-index   : 2;
                    background: url('../images/overlay.png') repeat;
                    opacity   : .8;
                }
            }

            .container {
                position       : absolute;
                z-index        : 2;
                width          : 100%;
                top            : 50%;
                left           : 50%;
                transform      : translate(-50%, -50%);
                display        : flex;
                align-items    : center;
                justify-content: center;

                img {
                    max-width: 90%;
                }
            }
        }

        &#cocovibes {
            background-color: #000 !important;
            height          : auto;
            padding-top     : 5em !important;
            background      : url('../images/banner-cocovibes.png') no-repeat center;
            background-size : 100%;

            .socials-cocovibes {
                .nav-link {

                    i,
                    svg {
                        height: 2em;
                    }
                }
            }
        }

        &#contact {
            background-color: $tertiary;

            a {
                color: $primary;

                &:hover {
                    color: white;
                }
            }

            .socials {

                font-size: 1.2em;

                a {
                    background     : $primary;
                    color          : $tertiary;
                    margin         : 5px;
                    border-radius  : .3rem;
                    padding        : 1em;
                    width          : 20px;
                    height         : 20px;
                    display        : flex;
                    justify-content: center;
                    align-items    : center;

                    &:hover {
                        background: white;
                    }
                }
            }
        }
    }

    .content {
        padding-top   : 3em;
        padding-bottom: 2em;

        h2 {
            font-size     : 3em;
            margin-bottom : .5em;
            text-transform: uppercase;
            color         : $tertiary;
            font-weight   : $font-bold;
        }

        h3 {
            font-weight: bold;
        }
    }
}

footer {
    font-size: .7em;
    color    : white;
}

//responsive
@import 'responsive';